<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stock Market App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.17/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="js/indexCopy.js" ></script>
    <link href="css/indexCopy.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <div class='itdonebroke'>
      <span>
        PLEASE NOTE: Due to an API update, this app and the pages within are currently very broken.
      </span>
      <span>
        The issue is presently being worked on and will be fixed soon!
      </span>
      <span>
        Thank you for your pratience -Robyn
      </span>
    </div>
    <h1>Placeholder</h1>
    <button onClick="add()">Add aapl</button>
    <button onClick="renderGraph()">Render Graph</button>
    <div class="root"></div>
  </body>
</html>
